<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>ServletBasic</display-name>
  
  <servlet>  		
  		<servlet-name>Details</servlet-name>
  		<servlet-class>com.servlet.example.MyServlet</servlet-class>  
  		<init-param>  		
  			<param-name>Name</param-name>
  			<param-value>Nirmalmahesh S</param-value>  		
  		</init-param> 
  		<init-param>  		
  			<param-name>Phone</param-name>
  			<param-value>9500******</param-value>  		
  		</init-param> 		
  </servlet>
  <servlet>  		
  		<servlet-name>Constants</servlet-name>
  		<servlet-class>com.servlet.example.ConstentServlet</servlet-class>   		
  </servlet>
  
  
  <servlet-mapping>  	
  	<servlet-name>Details</servlet-name>
  	<url-pattern>/About</url-pattern>  		
  </servlet-mapping>
  <servlet-mapping>  	
  	<servlet-name>Constants</servlet-name>
  	<url-pattern>/const</url-pattern>  		
  </servlet-mapping>
  
  
  <context-param>  
  	<param-name>PI</param-name>
  	<param-value>3.141</param-value>  
  </context-param>
  
  
  
  
</web-app>